{%  extends 'Guest/HeaderDoctor.html' %}
    {% load static %}

    {% block content %}
    

    <form action="" method="POST">
        {% csrf_token %}
    <table align="center" border=1 style="border-collapse: collapse; margin-top: 50px;" cellpadding=15>
            <tr>
            <td>Old Password</td>
            <td><input type="password" name="Oldpass" id="Oldpass" required></td>
            </tr>
                <tr>
                    <td>New Password</td>
                    <td><input type="password" name="Newpass" id="Newpass" required onblur="return myPassword();"></td>
                </tr>
                <tr>
                    <td>Confirm Password</td>
                    <td><input type="password" name="Confpass" id="Confpass" required></td>
                </tr>
        
                <tr>
                    <td colspan="2" align="center"><button type="submit" class="btn btn-success" onclick="return Validate()">Save</button></td>
                </tr>
            
        </table>
        {% if error %}
        <div class="d-flex justify-content-center mt-4">
            <p style="font-size: 20px;color: rgb(209, 12, 12);">{{ error }}</p>
        </div>
        {% endif %}
    </form>

    <br><br><br><br><br><br><br><br>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        function myPassword()
        {
            
        var password=$("#Newpass").val();
        if(password.length<6)
            {  
            alert("Password must be at least 6 characters long.");  
            return false;  
            }  
        }   

        function Validate() {
        var newpassword = document.getElementById("Newpass").value;
        var confirmPassword = document.getElementById("Confpass").value;
        var oldpassword=document.getElementById("Oldpass").value;
        if (newpassword != confirmPassword) {
            alert("Passwords do not match.");
            return false;
        }
        return true;
    }
    </script>
    
    {%  include 'Guest/Footer.html' %}

    {% endblock %} 
