{%  extends 'Guest/HeaderShop.html' %}
{% load static %}

{% block content %}
<center><h3 class="mt-5 mb-4" style="color: rgb(31, 78, 64);">Purchased Pets</h3></center>
    <table><table align="center" border=1 style="border-collapse: collapse;" cellpadding=15>
        <tr>
            
            <th>Pet Sub Category</th>
            <th>No.of Pets</th>
            <th>Date</th>
            <th>Pet Owner</th>
            <th>Delivery Address</th>
            <th>Status</th>
            <th></th>
        </tr>
        {% for data in petpurchase %}
        <tr>
            <td>{{data.Pet.PetSaleSubCategory.SubCategory}}</td>
            <td>{{data.No_ofPets}}</td>
            <td>{{data.Date}}</td>
            <td>{{data.PetOwner}} <br>
                {{data.PetOwner.CustomerContact}} <br>
                {{data.PetOwner.CustomerEmail}},
                
            </td>
            <td>{{data.DeliveryAddress}}</td>
            {% if data.Status == 0 %}
            <td>Not Delivered</td>
           <td> <a href="{% url 'ShopOwners:proceedPetDelivery' data.id %}" class="btn btn-outline-success">Proceed Delivery</a> </td>
            {% elif data.Status == 1 %}
            <td>Delivered</td>
            <td></td>
            {% elif data.Status == 2 %}
            <td>Customer Received</td>
            <td></td>
            {% endif %}

            
               

        </tr>
        {% endfor %}

    </table>
    <br><br><br><br><br><br><br><br><br><br><br>

    {%  include 'Guest/Footer.html' %}

    {% endblock %}
    